Source: 1cext
Section: misc
Priority: standard
Build-Depends: tar
Maintainer: 1C-Soft LLC <v8@1c.ru>
Standards-Version: 4.7.2.0
Homepage: https://releases.1c.ru/project/Analytics

Package: 1cext
Architecture: all
Provides: 1cext
Section: misc
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: 1C Executor
 1C Soft, 1996 – 2025.