#!/usr/bin/make -f
include /usr/share/dpkg/*.mk
export DH_VERBOSE = 1

SHELL := /bin/bash

override_dh_install:
	. ../build_lib && set_deb_structure "1c-esb" "${DEB_VERSION}" "1c-enterprise-esb" "esb"
	. ../build_lib && set_deb_structure "1c-esb-ide" "${DEB_VERSION}" "1c-enterprise-esb-with-ide" "esb"

override_dh_strip_nondeterminism:
	true

override_dh_dwz:
	true

override_dh_strip:
	true

override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info

%:
	dh $@
