services:

  docker-registry:

    container_name: ${DOCKER_REGISTRY_NAME:-docker-registry}
    restart: always

    volumes:
      - docker_registry_conf:/etc/docker/registry
      - docker_registry_htpasswd:/etc/docker/registry/auth/

volumes:
  docker_registry_conf:
    external: true
    name: ${DOCKER_CONF_VOL:-docker_registry_conf}
  docker_registry_htpasswd:
    external: true
    name: ${DOCKER_HTPASSWD_VOL:-docker_registry_htpasswd}
