services:

  docker-registry:

    networks:
      - docker_registry_network

    configs:
      - source: docker_registry_conf
        target: /etc/docker/registry/config.yml
    secrets:
      - source: docker_registry_htpasswd
        target: /etc/docker/registry/auth/htpasswd
    deploy:
      mode: global
      placement:
        constraints:
          - "node.hostname == ${DOCKER_REGISTRY_NODE}"

networks:
  docker_registry_network:
    name: "${DOCKER_REGISTRY_NETWORK:-docker_registry_network}"
    external: true

configs:
  docker_registry_conf:
    external: true
secrets:
  docker_registry_htpasswd:
    external: true
