## Common options

### Certificates

ROOT_CERTS="${ROOT_CERTS}"

### Docker registry

REGISTRY="${REGISTRY}"

### OS

TZ="${TZ}"

### Aptly repository

APTLY_REPO_NAME="${APTLY_REPO_NAME}"
APTLY_REPO_LOGIN="${APTLY_REPO_LOGIN}"
APTLY_REPO_PASSWORD="${APTLY_REPO_PASSWORD}"
